

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>
<body>

<div class="">
    <form action="" method="POST">
        <div class="row2">
            <label for='email'>Email</label>
        </div>

        <div class="row2">
            <input type="text" name="logEmail" placeholder="Email goes here...">
        </div>   

        <div class="row2">
            <label for='password'>Password</label>
        </div>

        <div class="row2">
            <input type="password" name="logPassword" placeholder="Password goes here...">
        </div>   
        
        <div class="row2">
            <input type="submit" value="submit">
        </div>  

    </form>
</div>

</body>
</html>