<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>enter a topic</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>
<body>


    <form action="/submit-topic" method="POST">
        <div class="row2">
            <label for='topicTitle'>Topic title</label>
        </div>

        <div class="row2">
            <input type="text" name="topicTitle" placeholder="e.g. football..." required>
        </div>   

        <div class="row2">
            <label for='topicSubject'>topicSubject</label>
        </div>

        <div class="row2">
            <input type="text" name="topicSubject" placeholder="e.g. man utd">
        </div>   
        
        <div class="row2">
            <input type="submit" value="submit">
        </div>  

    </form>
 
    

    
    


</body>
</html>